[Unit]
Description=Podripper %i
After=network.target

[Service]
ExecStart=/usr/bin/podripper.sh %i
WorkingDirectory=/var/lib/podripper
User=user

[Install]
WantedBy=multi-user.target
