[Timer]
# The official start time is around Fri 16:00 Toronto
# https://rcmp.me/live_stream/
# but streams now typically start around 14:50
OnCalendar=Fri 14:00 America/Toronto
# Extra streams started happening on some Saturdays
OnCalendar=Sat 05:45 America/Toronto
# Some previous streams were on Thursdays
# (and even on a Wednesday, but not in a while)
OnCalendar=Thu 13:00 America/Toronto
AccuracySec=1m

[Install]
WantedBy=timers.target
